#Footer {
  background: black;
  .content {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    p {
      color: #ffffff;
      font-size: 15px;
    }
	.reklam{
		color: #ffffffc1;
		font-size: 13px;

	}
  }
}
