#Scroll {
  .scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    .text {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      h1 {
      }
      .buttons {
        display: flex;
        align-items: center;
        width: 300px;
        padding: 10px;
        background: red;
        button {
          top: 50%;
          transform: translateY(-50%);
          background: #0026ff;
          border: none;
          font-size: 18px;
          cursor: pointer;
          z-index: 1;

          &:first-of-type {
            left: 10px;
          }

          &:last-of-type {
            right: 10px;
          }
        }
      }
    }
    .slider {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .block {
        display: flex;
        overflow-x: auto; // Изменение на auto для возможности прокрутки
        scroll-snap-type: x mandatory; // Для плавного прокручивания
        gap: 20px;
        -webkit-overflow-scrolling: touch;
        width: 600px;

        .box {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 5px;
          border-radius: 5px;
          background: #ffffff;
          min-width: 300px;
          scroll-snap-align: start;

          img {
            width: 300px;
            height: 300px;
          }

          h1 {
            font-size: 30px;
          }

          p {
            font-size: 20px;
          }
        }
      }
      img {
        width: 300px;
        height: 400px;
      }
    }
  }
}
